pkgbase = pretty-php
	pkgdesc = The opinionated PHP code formatter
	pkgver = 0.4.60
	pkgrel = 1
	url = https://github.com/lkrms/pretty-php
	arch = any
	license = MIT
	makedepends = php-sodium
	makedepends = git
	makedepends = composer
	makedepends = pandoc
	depends = php
	source = pretty-php::git+https://github.com/lkrms/pretty-php.git#tag=v0.4.60
	sha256sums = f3ef4c725fa9c38b662d0e52c79aba6c089c1872a47b6d725e320362df47cc58

pkgname = pretty-php
