pkgbase = pretty-php
	pkgdesc = The opinionated PHP code formatter
	pkgver = 0.4.64
	pkgrel = 1
	url = https://github.com/lkrms/pretty-php
	arch = any
	license = MIT
	makedepends = php-sodium
	makedepends = git
	makedepends = composer
	makedepends = pandoc
	depends = php
	source = pretty-php::git+https://github.com/lkrms/pretty-php.git#tag=v0.4.64
	sha256sums = 40a6c2995714f6b48daf8a24a40dde87b74fe92b4c1d0a7b266091b1689685ef

pkgname = pretty-php
