pkgbase = pretty-php
	pkgdesc = The opinionated PHP code formatter
	pkgver = 0.4.63
	pkgrel = 1
	url = https://github.com/lkrms/pretty-php
	arch = any
	license = MIT
	makedepends = php-sodium
	makedepends = git
	makedepends = composer
	makedepends = pandoc
	depends = php
	source = pretty-php::git+https://github.com/lkrms/pretty-php.git#tag=v0.4.63
	sha256sums = 4ff9ce287a3e49424e6d2c838779141ad90cfcb8a457742fba30787ae921d1f3

pkgname = pretty-php
